<div class="container-fluid char-wrapper">
  <div class="container-fluid">
    <div class="search-value">
      <div class="textbox-wrapper col-lg-5">
        <p><b>Charname:</b></p>
        <input type="text" [(ngModel)]="charName" class="char-search">
      </div>
      <div class="textbox-wrapper col-lg-5">
        <p><b>Realmname:</b></p>
        <input type="text" [(ngModel)]="realmName" class="realm-search">
      </div>
      <div class="textbox-wrapper col-lg-2">
        <button id="search" (click)="getChar()">Search</button>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="search-wrapper">
      <ul class="search-for">
        <li class="col-lg-4">
          <label id="equip" (click)="filter($event)">Equipment</label>
        </li>
        <li class="col-lg-4">
          <label id="pvp-achiev" (click)="filter($event)">PvP Achievements</label>
        </li>
        <li class="col-lg-4">
          <label id="all-achiev" (click)="filter($event)">All Achiev</label>
        </li>
      </ul>
    </div>
  </div>
  <div class="container-fluid content-background">
    <div class="container char-title" style="width:70%">
      <div class="col-lg-3 avatar">
        <img [src]="char?.thumbnail" alt="">
      </div>
      <div class="col-lg-9">
        <label class="" style="color:#E6E42F">{{char?.name}}, {{char?.playerClass?.name}}</label><br>
        <label style="color:#E6E42F">
          <{{char?.guild?.name}}>
        </label>
      </div>
    </div>
    <div class="container content-achiev">
      <achiev-data *ngIf="showPvPAchievements" [achieveData]="charPvPAchiev"></achiev-data>
      <equip-data *ngIf="showEquipment" [equipItems]="charEquipment"></equip-data>
    </div>
  </div>
</div>

